<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
		body
		{
			background-image:	url("{{ url_for('static', filename='background1.jpg') }}");
		}
		
		div
		{
			border:	solid 0px black;
		}
		
		.container-fluid
		{
			border:	solid 0.1px black;
			text-align:	center;
			background-color:	lightblue;
			opacity:	0.85;
		}
		
		#overview
		{
			width:	20vw;
		}
	</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#">Show Tracker</a>

	  <div class="collapse navbar-collapse" id="navbarToggler">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">Home</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/tracking">Tracker</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class = "container-fluid" style = "margin-top: 0px; text-align: center">
		<table class="table table-hover">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Popularity</th>
		      <th scope="col">Poster</th>
			  <th scope="col">Episode</th>
			  <th scope="col">Original Language</th>
			  <th scope="col">Original Title</th>
			  <th scope="col" id = "overview">Overview</th>
			  <th scope="col">Type</th>
			  <th scope="col">Release Date</th>
		      <th scope="col">Add to List?</th>
		    </tr>
		  </thead>
		  <tbody>
			{% for line in movies %}
		    <tr>
			<form action="/addMedia" method="POST">
		      <td><input type="hidden" id="id" name="id" value={{line.GetID()}}>{{line.GetTitle()}}</td>
			  <td>{{line.GetPopularity()}}</td>
		      <td><img src={{line.GetPosterPath()}}></td>
			  <td>{{line.GetEpisode()}}</td>
			  <td>{{line.GetOriginalLanguage()}}</td>
			  <td>{{line.GetOriginalTitle()}}</td>
			  <td>{{line.GetOverview()}}</td>
			  <td><input type="hidden" id="type" name="type" value="TVShow">TV Show</td>	
			  <td>{{line.GetReleaseDate()}}</td>
		      <td><button type="submit" class="btn btn-primary">Add</button></td>
			</form>
		    </tr>
			{% endfor %}
		  </tbody>
		</table>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>